@import '../../mixins.styl'
.map-ship-reminder
    felxBox()
    flex-direction column
    padding 5px
    border-radius 5px
    width 300px
    position absolute
    right 0
    top 0
    color #B2C0D3
    background #fff
    background linear-gradient(0deg, rgba(0, 46, 103, 1), rgba(4, 51, 130, 1))
    box-shadow 0px 0px 4px 0px rgba(10, 32, 79, 0.5)
    border-radius 4px
    .addmoreLoading
        flexBox(center, center)
        padding-top 10px
    .loading_reminder
        flexBox(center, center)
        padding 40px 0
    .reminder_nomsg
        height 12px
        font-size 12px
        font-weight bold
        color #DFE6ED
        line-height 21px
        padding 40px 0 50px 0
        text-align center
    .scrollbar
        max-height 400px
    li
        padding 15px 11px 0
        line-height 21px
        font-size 12px
        transition all 0.6s
        cursor pointer
        animation fadeInRight 0.2s ease-in
        color #DFE6ED
        &.active
            background #09326D
        .msg_content
            padding 0 10px
            padding-bottom 20px
            border-bottom 1px dashed #5774A2
            display flex
            text-align left
            align-items flex-start
            span
                flex-shrink 0
        .msg_shipname
            padding 0 10px
        .msg_type
            flexBox(flex-start, center)
            padding 0 10px
            justify-content space-between
            span:first-child
                color #1FB8FF
                flex 1
                overflow hidden
                white-space nowrap
                text-overflow ellipsis
                padding-right 10px
            span:last-child
                color #89A6D1
                white-space nowrap
        &:hover, &.active
            background #09326D
            color #fff
    .addMore
        font-size 12px
        font-weight 400
        color #89A6D1
        line-height 40px
        text-align center
        transition all 0.3s
        &:hover
            color #fff
            cursor pointer
@keyframes fadeInRight
    from
        opacity 0
        -webkit-transform translate3d(100%, 0, 0)
        transform translate3d(100%, 0, 0)
    to
        opacity 1
        -webkit-transform translate3d(0, 0, 0)
        transform translate3d(0, 0, 0)