@import '../mixins.styl'
.map
    flexBox()
    flex-direction column
    flex-grow 1
    position relative
    .mapcopy
        position absolute
        bottom 0
        left 0
        font-size 11px
        line-height 1.1
        width 100%
        z-index 1001
        background rgba(0, 46, 103, 0.5)
        height 40px
        flexBox(center, center)
#map
    flexBox()
    flex-direction column
    flex-grow 1
    position relative
    .leaflet-control-zoom
        background linear-gradient(0deg, rgba(0, 46, 103, 1), rgba(4, 51, 130, 1))
        box-shadow 0px 0px 4px 0px rgba(10, 32, 79, 0.5)
        border-radius 2px
        .leaflet-control-zoom-in, .leaflet-control-zoom-out
            background none
            color rgba(116, 120, 141, 1)
            border-bottom none
        .leaflet-control-zoom-in:hover, .leaflet-control-zoom-out:hover
            color #fff
    .leaflet-control-attribution
        margin-top 10px
    .leaflet-bottom
        bottom 50px
    .leaflet-bottom .leaflet-control
        margin-bottom 0
.shipicon
    font-size 12px
    font-weight 500
    color rgba(0, 0, 0, 1)
    line-height 14px
    border 1px solid rgba(0, 0, 0, 1)
    background rgba(255, 255, 255, 0.5)
    border-radius 2px
    box-shadow none
    &:before
        display none
