.shipInfoView
    width 340px
    background linear-gradient(0deg,rgba(0,46,103,1),rgba(4,51,130,1))
    box-shadow 0px 0px 4px 0px rgba(10,32,79,0.5)
    border-radius 2px
    position: absolute
    left: 0
    top: 0
    z-index: 1
    .ivu-input
        font-size 12px
    .topbar
        height 32px
        background #0A7AEC
        padding 0 14px
        line-height 32px
        color #fff
        display flex
        justify-content space-between
        align-items center
        font-size 12px
        .closeInfo
            padding-left: 10px;
            svg
                width: 10px
                height: 10px
                cursor pointer
        .svg-icon_Close
            width 8px
            height 8px
            cursor pointer
    .shipInfo
        padding 14px
        color #fff
        font-size 12px
        position relative
        border-bottom 1px dashed #5774A2
        ul
            li 
                line-height 26px
        .shipInfoBtn
            color #ffffff
            font-size 12px
            padding 3px 7px
            background #0A7AEC
            display inline-block
            border-radius 2px
            position absolute
            right 14px
            bottom 14px
            cursor pointer
    .hl
        height: 97px;
        border-bottom 1px dashed #5774A2;
        padding: 14px 12px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .left
            font-size:12px;
            font-family:PingFang SC;
            font-weight:400;
            color:rgba(255,255,255,1);
            line-height:21px;
        .left div.input_box
            // display: flex;
            // justify-content: center;
            // align-items: center;
            .input
                height:20px;
                width: 52px;
                background:rgba(9,50,109,1);
                border:1px solid rgba(75,103,145,1);
                opacity:0.9;
                border-radius:2px;
                color: #fff;
                margin-left: 7px;
        .left div
            height: 26px
        .left div:last-child
            cursor:pointer;
        .right
            color:#48A6F8
            cursor:pointer;
    .shipVoyage
        padding 14px
        .voyageBar
            color #ffffff
            font-size 12px
            display flex
            justify-content space-between
            align-items center
            .shipVoyageBtn
                color #89A6D1
                i 
                    font-style normal
                    cursor pointer
        .voyageTime
            .pickerTime
                display flex 
                margin-top 10px
                align-items center
                .pickerSelect
                    input
                        background #09326D
                        color #fff
                        padding 4px 7px
                        border-color #4B6791
                    .ivu-icon-ios-calendar-outline:before
                        display none
                span.line
                    width 14px
                    height 1px
                    background #5774A2
                    margin 0 14px
    
.voyagepopup
    
    .leaflet-popup-content-wrapper, .leaflet-popup-tip
        background: rgba(255,255,255,.8)
        border-radius: 4px
    .leaflet-popup-content
        margin: 13px 15px
        p
            margin: 0
            line-height: 1.6         
            
                
            
