@import './mixins.styl'
body, html
    flexBox()
    flex-grow 1
    flex-direction column
    height 100%
    margin 0
    padding 0
#app
    flexBox(flex-start)
    flex-grow: 1
    flex-direction: column
    flex-shrink: 0
.svg-icon
    fill currentColor
    width 18px
    height 18px
.fade-enter-active, .fade-leave-active
    transition opacity 0.5s
.fade-enter, .fade-leave-active
    opacity 0
@import './admin.styl'
@import './404.styl'
@import './login.styl'